/* Google Font  */
/* font-family: "Roboto", sans-serif;
font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body defaults */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-weight: bold;
  }