/* Google Font  */
/* 

font-family: "Roboto", sans-serif;
font-family: "Inter", sans-serif; 
font-family: "Poppins", sans-serif; 

*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body defaults */
  body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    line-height: 1.6;
    background-color: #fff;
    
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {

  }


  /* Navigation bar */
  
  .main-nav-container{
    width: 100%;
    height: 76px;
    background-color: #fff;

  }
  
  .nav-container{
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 177px;
    display: flex;
    align-items: center;
    gap: 8px;

  }

  .logo-text {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 700;
  }

  .nav{
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav > ul {
    display: flex;
    gap: 40px;
    list-style: none;
  }

  .nav ul a {
    text-decoration: none;
    color: #424352;
    font-family: "Inter", sans-serif;
  }


  .btn-primary {
    background-color: #1B99D4;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }



  /* Navigation bar End  */



  /* Hero section Start  */

  .hero-section {
    width: 100%;
    background-color: #1b99d4;
    height: 700px;

  }

  .hero-container::before{
    position: absolute;
    z-index: 10;
    content: "";
    background-image: url(../images/hero_image.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 90%;
    height: 700px;
    margin: 0 auto;
    }

  .hero-container{
    width: 90%;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 0;
  }

.hero-description {
    width: 40%;
}
 
.hero-description p {
    width: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: #3da8da;
    padding: 8px 12px;
    text-align: center;
    border: none;
    border-radius: 6px;
}

.hero-description h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    padding: 20px 0;
}


.hero-description h3 {
    color: #fff;
    width: 80%;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6;
    padding-bottom: 10px;
}


.hero-description h2 {
    color: #fff;
    width: 80%;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.6;
    padding-bottom: 10px;
}


.btn-secondry {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    background-color: #fff;
    padding: 20px 20px;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
}

.btn-secondry img {
    width: 20px;
}


    /* form  */
    .form {
        width: 30%;
        background-color: #fff;
        height: 80%;
        padding: 25px;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 50px 5px #0000001a;
    }

    .form h1 {
        font-size: 33px;
        color: #252525;
        font-weight: 700;

    }

    .form p {
        font-size: 15px;
        font-weight: 400;
        color: #474747;
        margin-bottom: 30px;
    }


    .form input {
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        padding: 12px;
        margin-bottom: 25px;
        border: 1px solid #E6E9FC;
        border-radius: 5px;
        background-color: white;
        color: #727695;
    }

    .form div {
        width: 100%;
        padding: 10px;
        margin-bottom: 60px;
        border: 1px solid #E6E9FC;
        border-radius: 5px;
        background-color: white;  
    }

    .form select {
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        border: none;
        background-color: white;
        color: #727695; 
    }


    .btn-get-in-touch {
        background-color: #1B99D4;
        padding: 12px 20px;
        color: #ffffff;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        font-family: "Poppins", sans-serif; 
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;

      }

  /* Hero section End  */



  /* info section start  */

      .info-section {
        width: 100%;
        background-color: #fefefe;
        padding: 60px 0;
      }

      .info-container {
        width: 80%;
        background-color: #fff;
        margin: 0 auto;
        border: none;
        border-radius: 10px;
        padding: 30px 50px;
        box-shadow: 1px 1px 50px 5px #54637A1A;
      }

      .info-container-element{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .ice-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
      }

      .ice-card img {
        width: 58px;
        height: 58px;
        background-color: #f4f6f9;
        border: none;
        border-radius: 50%;
        padding: 10px;
      }

      .ice-card > div h1 {
        font-size: 32px;
        font-weight: 700;
      }

      .ice-card > div .green {
        color: #27B94E;
      }
      .ice-card > div .yellow {
        color: #FFA41B;
      }
      .ice-card > div .red {
        color: #D60000;
      }

      .ice-card > div p {
        font-size: 16px;
        font-weight: 500;
        color: #4D607D;
      }

  /* info section end  */


  /* Join this Program section Start  */

      .program-section {
        width: 100%;
        /* background-color: #f8fbfb;   */
        background-color: #f8fbfb;
        padding-bottom: 40px;
      }

      .program-container {
        width: 80%;
        margin: 0 auto;
        padding: 60px 0;
      }

      .program-main {
        text-align: center;
      }

      .program-main > p {
        color: #1B99D4;
        font-size: 16px;
        font-weight: 600;
        font-family: poppins;
        letter-spacing: 1.6px;
      }
      
      .program-main > h1 {
        color: #000000;
        font-size: 36px;
        font-weight: 600;
      }


      .program-card-container {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 40px;
      }


      .program-card {
        width: 368px;
        height: 300px;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        padding: 25px;
        box-shadow: 1px 1px 50px 5px #54637A1A;
      }

      .program-card img {
        width: 70px;
        height: 70px;
        padding: 12px;
        background-color: #1B99D4;
        border: none;
        border-radius: 50%;
      }
      .program-card h2 {
        font-size: 21px;
        font-weight: 600;
        margin: 10px 0;
      }
      .program-card p {
        font-size: 16px;
        font-weight: 300;
      }

  /* Join this Program section End  */


  /* Explore Section Start  */

      .explore-section {
        width: 100%;
        background-color: white;
        padding: 60px 0;
      }

      .explore-container {
        width: 80%;
        margin: 0 auto;
      }

      .explore-container-main button {
        margin: 0 auto;
      }

      .explore-container-main > p {
        font-size: 16px;
        font-weight: 600;
        font-family: poppins;
        color: #1B99D4;
        text-align: center;
        letter-spacing: 1.6px;
        margin-bottom: 10px;
      }
      .explore-container-main > h1 {
        font-size: 32px;
        font-weight: 600;
        font-family: poppins;
        color: #231F40;
        text-align: center;
      }

      .explore-card-container {
        margin: 60px 0;
        display: flex;
        justify-content: center;
        gap: 40px;
       }


      .explore-card {
        width: 360px;
        height: 420px;
        padding: 30px;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 50px 5px #54637A1A;
      }

      #shamu-card {
        margin-top: 20px;
      }

      .explore-card-main {
        display: flex;
        justify-content: space-between;
      }
      .card-profile {
        width: 72px;
        height: 72px;
      }

      .card-profile-icon {
        font-size: 16px;
        font-weight: 600;
        color: #43A55D;
        width: 115px; 
        display: flex;
        align-items: center; 
        justify-content: center;
        border: 1px solid #43A55D; 
        padding: 2px 5px;
        border-radius: 3px;
      }

      .card-profile-icon-container {
   

      }

      .card-profile-icon > img {
        width: 17.47px;
        margin-right: 5px;
      }

      .card-descrip {
        font-size: 16px;
        font-weight: 300;
        font-family: poppins;
        color: #4D607D;
        padding-top: 5px;
      }

      .explore-card-bottom {
        width: 80%;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 2px;
      }

      .explore-card-footer {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .explore-card-footer p {
        font-size: 16px;
        font-weight: 400;
        font-family: poppins;
        color: #006DD9  ;
      }

  /* Explore Section End  */



  /* Pro Section Start  */

      .pro-section-container {
        width: 100%;
        background-color: #fff;
      }


      .pro-section {
        width: 90%;
        margin: 0 auto;
      }

      .cors-descrip {
        text-align: center;
      }

      .cors-descrip p {
        color: #1B99D4;
        font-size: 16px;
        font-weight: 600;
        font-family: poppins;
        letter-spacing: 1.6px;
      }
      .cors-descrip h1{
        color: #231F40;
        font-size: 32px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 40px;
      }

      .psd-main h3 {
        font-size: 24px;
        font-weight: 700;
        color: #333333;
      }
      .psd-main p {
        font-size: 16px;
        font-weight: 400;
        color: #6F6B80;
        margin-top: 20px;
        margin-bottom: 20px;  
      }


      .course-details {
        font-size: 21px;
        font-weight: 500;
        font-family: inter;
        color: #595665;
        padding: 20px;
      }

      .pro-section-divider {
        display: flex;
        gap: 60px;
      }

      .course-unit {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }






  /* Pro Section End  */